---
---

/*
Color palette: https://material.io/resources/color/#!/?view.left=1&view.right=0&primary.color=0f4c82&secondary.color=FFFFFF
*/

// $primary-color: #0d4a82;
// $primary-text-color: #FFFFFF;
// $primary-light-color: #4b75b2;
// $primary-dark-color: #002355;
// $alt-text-color: #000000;

// body {
//     font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Regular WestEuropean", "Segoe UI", Tahoma, Arial, Roboto, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
//     font-size: 1.0625rem;
//     line-height: 1.5;
//     background-color: #f4f4f4;
// }

.markdown {
  /* tailwind text-base */
  font-size: 1rem;
  line-height: 1.5rem;

  h1 {
    /* tailwind text-3xl mt-5 mb-3*/
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-top: 1.25rem;
    margin-bottom: 0.75rem;
  }

  h2 {
    /* tailwind text-2xl mt-4 mb-2 */
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  h3 {
    /* tailwind text-xl mt-3 mb-2*/
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
  }

  h4 {
    /* tailwind text-lg mt-2 mb-2*/
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  blockquote {
    /* tailwind italic my-2 bg-gray-100 py-2*/
    font-style: italic;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: rgba(243, 244, 246, 1);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    border-left: 0.5rem solid rgba(59, 130, 246, 1);
    padding-left: 1rem;
  }

  code {
    /* tailwind bg-gray-100 py-2 px-1*/
    background-color: rgba(243, 244, 246, 1);
    padding: 0.25rem 0.5rem;
    border-bottom: 1px solid rgba(59, 130, 246, 1);
  }

  a {
    /* tailwind text-blue-700 */
    color: rgba(29, 78, 216, 1);
  }

  hr {
    /* tailwind bg-gray-700 my-4 */
    background-color: rgba(55, 65, 81, 1);
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  p {
    /* tailwind mb-1 */
    margin-bottom: 0.25rem;
  }

  table {
    /* tailwind my-4 */
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-collapse: collapse;

    thead {
      /* tailwind bg-gray-900 text-white */
      background-color: rgba(17, 24, 39, 1);
      color: white;
      //
    }

    tr:nth-child(even) {
      /* tailwind bg-gray-300 */
      background-color: rgba(209, 213, 219, 1);
    }

    th,
    td {
      border: 1px solid #dfe2e5;
      padding: 0.25rem 0.5rem;
    }
  }

  ul,
  ol {
    /* tailwind ml-8 mb-4 */
    margin-left: 2rem;
    margin-bottom: 1rem;
  }

  ul {
    /* tailwind list-disc */
    list-style-type: disc;
  }

  ol {
    /* tailwind list-decimal */
    list-style-type: decimal;
  }

  .blogimg {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  /* UNSURE */

  main {
    padding: 2rem;
  }

  header {
    margin-bottom: 3rem;
  }

  div > .highlight {
    background: #f7f7f7;
    padding: 0.5em;
    margin: 0 0 16px 0;
  }
}
