---
---

/*
Color palette: https://material.io/resources/color/#!/?view.left=1&view.right=0&primary.color=0f4c82&secondary.color=FFFFFF
*/
:root {
  // Body
  --bg-color: white;
  --text-color: #1F1F1F;
  --hr-color: rgba(0, 0, 0, 0.5);
  // Sidebar
  --sidebar-bg-color: #1a237e;
  --sidebar-text-color: white;
  --avatar-border-color: white;
  // Article tag
  --tag-bg-color: #1a237e;
  --tag-text-color: white;
  // Markdown
  --md-table-header-bg-color: #1F1F1F;
  --md-table-header-text-color: white;
  --md-table-row-odd-bg-color: white;
  --md-table-row-even-bg-color: rgb(240, 240, 240);
  --md-table-row-text-color: black;
  --md-table-border-color: black;
  --md-link-text-color: #0037ff;
  --md-blockquote-line-color: #1a237e;
  --md-blockquote-bg-color: rgb(240, 240, 240);
  --md-codeblock-bg-color: black;
  --md-codeblock-text-color: white;
}

[data-color-mode="dark"] {
  --hr-color: rgba(255, 255, 255, 0.5);
  --bg-color: #1F1F1F;
  --text-color: rgba(210, 210, 210);
  --sidebar-bg-color: #353535;
  --tag-bg-color: #353535;
  --md-table-header-bg-color: rgb(60, 60, 60);
  --md-table-header-text-color: white;
  --md-table-row-odd-bg-color: black;
  --md-table-row-even-bg-color: black;
  --md-table-row-text-color: white;
  --md-table-border-color: darkgray;
  --md-link-text-color: #85bbff;
  --md-blockquote-line-color: #85bbff;
  --md-blockquote-bg-color: rgb(30, 30, 30);
  --md-codeblock-bg-color: black;
  --md-codeblock-text-color: white;


}

main {
  margin-top: 48px; // for header nav
  padding: 0px 16px;
}

.header {
  margin-bottom: 24px;
}

.header__title {
  font-size: 1.5em;
  margin-bottom: 16px;
}

.header__meta {
  display: flex;
  margin-bottom: 16px;
  font-size: 0.75em;
}

.header__tags {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.75em;
}

.content {
  line-height: 1.25em;

  p {
    margin-bottom: 1em;
  }

  .gist table {

    tr,
    td {
      background-color: white !important;
      border: none !important;
    }

    td.js-line-number {
      color: black !important;
    }
  }

  :not(.gist) {
    table {
      border-collapse: collapse;
      margin: 1em 0;
    }

    th {
      background-color: var(--md-table-header-bg-color);
      color: var(--md-table-header-text-color);
      font-weight: normal;
    }

    tr {
      color: var(--md-table-row-text-color);
    }

    tr:nth-child(odd) {
      background-color: var(--md-table-row-odd-bg-color);
    }

    tr:nth-child(even) {
      background-color: var(--md-table-row-even-bg-color);
    }

    th,
    td {
      border: 1px solid var(--md-table-border-color);
      padding: 0.25rem 0.5rem;
    }
  }

  a {
    color: var(--md-link-text-color);
  }

  .blogimg {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  blockquote {
    border-left: 0.5rem solid var(--md-blockquote-line-color);
    background-color: var(--md-blockquote-bg-color);
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    font-style: italic;
    margin-inline-start: unset;
    margin-inline-end: unset;
    margin-block-start: unset;
    margin-block-end: unset;
    font-weight: 300;
    margin: 0.5rem 0;
  }

  code.hljs {
    background: var(--md-codeblock-bg-color) !important;
    color: var(--md-codeblock-text-color);
    font-size: 0.75em;
  }

  
}

.post-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;

}

.post-nav__content {
  display: flex;
  flex-direction: column;

  &.previous {
    text-align: left;
  }

  &.next {
    text-align: right;
  }
}

.post-nav__category {
  font-size: 0.75em;
}

@media (max-width: 720px) {
  .post-nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
}