<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{%- include head.html -%}

<body>
    <div class="default-layout">
        <nav class="sidebar">
            <img class="avatar" src="{{ '/assets/img/avatar.png' | absolute_url }}" />
            <a class="title" href="/">Frankie Foo's Blog</a>
            <div class="page-links">
                <a class="nav-link" href="/archives">Posts</a>
                <a class="nav-link" href="/reading-list">Readings</a>
            </div>
            <div style="padding: 1rem 0;">
                <a class="nav-link icon-link" href="https://www.linkedin.com/in/frankiefoo/" target="_blank">
                    <i class="fab fa-linkedin fa-1x"></i>
                </a>
                <a class="nav-link icon-link" href="https://www.github.com/xyfoo" target="_blank">
                    <i class="fab fa-github fa-1x"></i>
                </a>
                <a class="nav-link icon-link" href="https://www.twitter.com/frankiefoo732" target="_blank">
                    <i class="fab fa-twitter fa-1x"></i>
                </a>
                <a class="nav-link icon-link" href="/feed.xml" target="_blank">
                    <i class="fas fa-rss fa-1x"></i>
                </a>
            </div>
            <div style="flex-grow: 1"></div>
            <div class="color-mode-container" >
                <button id="lightMode" class="color-mode-button">
                    <i class="fas fa-sun"></i>
                    <div>Light</div>
                </button>
                <button id="darkMode" class="color-mode-button">
                    <i class="fas fa-moon"></i>
                    <div>Dark</div>
                </button>
                <button id="systemMode" class="color-mode-button">
                    <i class="fas fa-mobile"></i>
                    <div>System</div>
                </button>
            </div>
        </nav>
        <main aria-label='Content'>
            {{ content }}
        </main>
    </div>
    <script src="{{ '/assets/js/themecolor.js' | absolute_url }}"></script>
</body>

{%- include sitescript.html -%}

</html>