<!-- This house the default global layout -->
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{%- include head.html -%}

<body>
    <div class="flex flex-col lg:flex-row flex-none bg-white">
        <nav class="flex p-8 bg-blue-900 text-white flex-col w-screen flex-none lg:w-72 lg:h-screen">
            <img class="h-28 w-28 rounded-full border-2 border-white ml-auto mr-auto lg:h-56 lg:w-56 lg:border-4 lg:ml-0 lg:mr-0" src="{{ '/assets/img/avatar.png' | absolute_url }}" />
            <a class="text-3xl mt-4 mb-4 text-center lg:text-left" href="/">Frankie Foo's Blog</a>
            <a class="text-lg text-center lg:text-left" href="/archives">Archives</a>
            <a class="text-lg text-center lg:text-left" href="/reading-list">Reading List</a>
            <div class="mt-4 ml-auto mr-auto lg:ml-0 lg:mr-0">
                <a class="text-xl mr-1" href="https://www.linkedin.com/in/frankiefoo/" target="_blank">
                    <i class="fab fa-linkedin fa-1x"></i>
                </a>
                <a class="text-xl mr-1" href="https://www.github.com/xyfoo" target="_blank">
                    <i class="fab fa-github fa-1x"></i>
                </a>
                <a class="text-xl mr-1" href="https://www.twitter.com/frankiefoo732" target="_blank">
                    <i class="fab fa-twitter fa-1x"></i>
                </a>
                <a class="text-xl" href="/feed.xml" target="_blank">
                    <i class="fas fa-rss fa-1x"></i>
                </a>
        </nav>
        <main aria-label='Content' class="flex-auto p-8 overflow-y-auto lg:h-screen dark:bg-black dark:text-white">
            {{ content }}
        </main>
    </div>
</body>

{%- include sitescript.html -%}

</html>