---
layout: default
---

{%- if post.title -%}
<h1>{{ post.title }}</h1>
{%- endif -%}

{% assign post = site.posts.first %}

<article class="bg-white" itemscope itemtype="http://schema.org/BlogPosting">

    <!-- Post title -->
    <header class="mb-4">
        <h1 itemprop="name headline">{{ post.title | escape }}</h1>
        <div class="flex">
            {%- if post.author -%}
            <div class="text-sm italic mr-4" itemprop="author" itemscope itemtype="http://schema.org/Person"><span
                    itemprop="name">{{ post.author }}</span></div>
            {%- endif -%}
            <div class="text-sm italic" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                {{ post.date | date: date_format }}
            </div>
        </div>
    </header>

    <!-- Post tags -->
    <div class="flex my-4">
        {% for tag in post.tags %}
        <div class="text-xs bg-blue-200 text-black rounded mr-1 px-2 py-1">{{ tag }}</div>
        {% endfor %}
    </div>

     <!-- Post content -->
     <div class="content-body">
        {{ post.content }}
    </div>
    

    <!-- Other posts -->
    <div class="mt-8 flex">
        {% if post.previous.url %}
        <div class="w-60">
            <a class="text-xs" href="{{post.previous.url}}">Previous article</a>
            <div class="text-sm">{{post.previous.title}}</div>
        </div>
        {% endif %}
        <div class="flex-grow" />
        {% if post.next.url %}
        <div class="w-60">
            <a class="text-xs" href="{{post.next.url}}">Next article</a>
            <div class="text-sm">{{post.next.title}}</div>
        </div>
        {% endif %}
    </div>
    <a href=" {{ post.url | relative_url }}" hidden></a>
</article>