---
layout: default
comments: false
---

{%- if post.title -%}
<h1>{{ post.title }}</h1>
{%- endif -%}

{% assign post = site.posts.first %}

<article itemscope itemtype="http://schema.org/BlogPosting">
    <div style="background-color: white; padding: 2rem;">
        <!-- Post title -->
        <header>
            <h1 class="text-center" itemprop="name headline">{{ post.title | escape }}</h1>
            {%- if post.author -%}
            <div class="text-center" itemprop="author" itemscope itemtype="http://schema.org/Person"><span
                    itemprop="name">{{ post.author }}</span></div>
            {%- endif -%}
            <div class="text-center" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                {{ post.date | date: date_format }}
            </div>
        </header>
        <!-- Post content -->
        <div itemprop="articleBody">
            {{ post.content }}
        </div>
    </div>
    <!-- Post tags -->
    <div class="tags">
        {% for tag in post.tags %}
        <div class="article-tag">{{ tag }}</div>
        {% endfor %}
    </div>

    <!-- Other posts -->
    <div style="display: flex; justify-content: space-between; margin-top: 2rem; padding: 0rem 2rem;">
        {% if post.previous.url %}
        <div>
            <a class="article-nav-link" href="{{post.previous.url}}">Previous article</a>
            <div class="article-nav-title">{{post.previous.title}}</div>
        </div>
        {% endif %}
        {% if post.next.url %}
        <div>
            <a class="article-nav-link" href="{{post.next.url}}">Next article</a>
            <div class="article-nav-title">{{post.next.title}}</div>
        </div>
        {% endif %}
    </div>
    <!-- Disqus -->
    <div style="background-color: white; margin-top: 2rem;">
        {%- if site.disqus.shortname -%}
        {%- include disqus_comments.html -%}
        {%- endif -%}
    </div>
    <a href=" {{ post.url | relative_url }}" hidden></a>
</article>