---
# Use this for markdown page

layout: default
---
<div>

  <header class="mb-4">
    <h1 class="text-3xl">{{ page.title | escape }}</h1>
    <div class="flex">
      {%- if page.author -%}
      <div class="text-sm italic mr-4" itemprop="author" itemscope itemtype="http://schema.org/Person"><span
          itemprop="name">{{ page.author }}</span></div>
      {%- endif -%}
      <div class="text-sm italic" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </div>
    </div>
  </header>

  <div class="markdown">
    {{ content }}
  </div>

</div>