---
# Use this for blog post

layout: default
---
<article class="bg-white" itemscope itemtype="http://schema.org/BlogPosting">

    <!-- Post title -->
    <header class="mb-4">
        <h1 class="text-3xl">{{ page.title | escape }}</h1>
        <div class="flex">
            {%- if page.author -%}
            <div class="text-sm italic mr-4" itemprop="author" itemscope itemtype="http://schema.org/Person"><span
                    itemprop="name">{{ page.author }}</span></div>
            {%- endif -%}
            <div class="text-sm italic" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                {{ page.date | date: date_format }}
            </div>
        </div>
    </header>

    <!-- Post tags -->
    <div class="flex my-4">
        {% for tag in page.tags %}
        <div class="text-xs bg-blue-200 text-black rounded mr-1 px-2 py-1">{{ tag }}</div>
        {% endfor %}
    </div>

     <!-- Post content -->
     <div class="markdown">
        {{ page.content }}
    </div>
    

    <!-- Other posts -->
    <div class="mt-8 flex">
        {% if page.previous.url %}
        <a class="flex-1" href="{{page.previous.url}}">
            <div class="text-xs" >Previous article</div>
            <div class="text-sm">{{page.previous.title}}</div>
        </a>
        {% endif %}
        <div class="flex-grow"></div>
        {% if page.next.url %}
        <a class="flex-1" href="{{page.next.url}}">
            <div class="text-xs text-right">Next article</div>
            <div class="text-sm text-right">{{page.next.title}}</div>
        </a>
        {% endif %}
    </div>
    <a href=" {{ page.url | relative_url }}" hidden></a>
</article>