---
layout: default
comments: true
---

<article itemscope itemtype="http://schema.org/BlogPosting">
    <header class="header">
        <!-- Post title -->
        <h1 class="header__title">{{ page.title | escape }}</h1>
        <!-- Author & date time-->
        <div class="header__meta">
            {%- if page.author -%}
            <div itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author
                    }}</span></div>
            {%- endif -%}
            <div datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                {{ page.date | date: date_format }}
            </div>
        </div>
        <!-- Post tags -->
        <div class="header__tags">
            {% for tag in page.tags %}
            <cds-tag type="blue" title="{{ tag }}">{{ tag }}</cds-tag>
            {% endfor %}
        </div>
    </header>
    <!-- Post content -->
    <div class="content">
        {{ page.content }}
    </div>
    <!-- Other posts -->
    <div class="post-nav">
        {% if page.previous.url %}
        <cds-button class="post-nav__button previous" href="{{page.previous.url}}">
            <div class="post-nav__content">
                <div class="post-nav__category">Previous</div>
            <div class="post-nav__title">{{page.previous.title}}</div>
            </div>
        </cds-button>
        </a>
        {% endif %}
        {% if page.next.url %}
        <cds-button class="post-nav__button previous" href="{{page.next.url}}" kind="tertiary">
            <div class="post-nav__content">
                <div class="post-nav__category">Next</div>
            <div class="post-nav__title">{{page.next.title}}</div>
            </div>
        </cds-button>
        {% endif %}
    </div>
    <a href=" {{ page.url | relative_url }}" hidden></a>
</article>