---
layout: default
comments: true
---

<article itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <!-- Post title -->
        <h1 itemprop="name headline">{{ page.title | escape }}</h1>
        <!-- Author & date time-->
        <div style="display: flex;">
            {%- if page.author -%}
            <div itemprop="author" itemscope itemtype="http://schema.org/Person"><span
                    itemprop="name">{{ page.author }}</span></div>
            {%- endif -%}
            <div datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                {{ page.date | date: date_format }}
            </div>
        </div>
        <!-- Post tags -->
        <div class="tags">
            {% for tag in page.tags %}
            <div class="article-tag">{{ tag }}</div>
            {% endfor %}
        </div>
    </header>
    <!-- Post content -->
    <div itemprop="articleBody">
        {{ page.content }}
    </div>
    <!-- Other posts -->
    <div class="post-nav">
        {% if page.previous.url %}
        <a class="post-nav-item previous" href="{{page.previous.url}}">
            <div class="post-category">Previous article</div>
            <div class="post-title">{{page.previous.title}}</div>
        </a>
        {% endif %}
        {% if page.next.url %}
        <a class="post-nav-item next" href="{{page.next.url}}">
            <div class="post-category">Next article</div>
            <div class="post-title">{{page.next.title}}</div>
        </a>
        {% endif %}
    </div>
    <a href=" {{ page.url | relative_url }}" hidden></a>
</article>